Repository renomureza/hadis-api-id: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, jest --findRelatedTests, prettier --write

update readme
  README.md
  package.json
  src/controllers/home.controller.js
Due: eslint --cache --fix, jest --findRelatedTests, prettier --write

update gitignore
  .gitignore
Due: none

update readme
  README.md
  src/controllers/home.controller.js
Due: eslint --cache --fix, jest --findRelatedTests, prettier --write

update package.json
  package.json
Due: none

Create LICENSE
  LICENSE
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

refactor and remove unused package
  .github/workflows/test.yml
  .lintstagedrc.json
  README.md
  jest.config.js
  nodemon.json
  package.json
  tests/integration/hadith.test.js
  tests/unit/utility.test.js
  yarn.lock
Due: eslint --cache --fix, jest --findRelatedTests, prettier --write

update package
  package.json
  yarn.lock
Due: none

update
  .eslintrc
  package.json
  src/app.js
  src/controllers/home.controller.js
  src/routes/home.route.js
  yarn.lock
Due: eslint --cache --fix, jest --findRelatedTests, prettier --write

update
  package.json
  src/index.js
  yarn.lock
Due: eslint --cache --fix, jest --findRelatedTests, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  jest --findRelatedTests: any of: *.js
  prettier --write: any of: *.{js,md}
